---
layout: default
---
<div class="content clearfix">
	{% include fullscreen-slider-section.html %}
	<div class="section-block" style="padding-top: 20px;">
		<div class="row">
			<h2 style="margin-bottom:10px;">Research Vision</h2>
			<div class="column width-8" style="padding-left:0px;">
				{{ site.data.intros.index_research_vision_text }}
				<p style="margin-top:10px;">Robot Studio was created and is directed by Patricia Alves-Oliveira.</p>
			</div>
			<div class="column width-4" id="image-container">
				<img id="centered-image" class="img-fluid" src="img/research-vision.png" alt="Research Vision" style="height:200px;">
			</div>
		</div>
		
		<div class="row">
			<h2 style="margin-bottom:10px;">News</h2>
		</div>

		<!-- Show the first 10 news items -->
		<div class="news-items">
			{% assign limited_news = site.data.news | slice: 0, 10 %}
			{% for item in limited_news %}
				<div class="row news-item">
					<strong>{{ item.date }}:</strong>
					{% assign description = item.description %}
					{% assign link_index = 0 %}
					{% for link in item.links %}
						{% assign link_html = '<a target="_blank" href="' | append: link.url | append: '">' | append: link.text |
						append: '</a>' %}
						{% assign description = description | replace_first: '{{link}}', link_html %}
						{% assign link_index = link_index | plus: 1 %}
					{% endfor %}
					{{ description }}
				</div>
			{% endfor %}
		</div>

		<!-- Hidden additional news items (after 10) -->
		<div class="news-items hidden-news">
			{% assign remaining_news = site.data.news | slice: 10, site.data.news.size %}
			{% for item in remaining_news %}
				<div class="row news-item">
					<strong>{{ item.date }}:</strong>
					{% assign description = item.description %}
					{% assign link_index = 0 %}
					{% for link in item.links %}
						{% assign link_html = '<a target="_blank" href="' | append: link.url | append: '">' | append: link.text |
						append: '</a>' %}
						{% assign description = description | replace_first: '{{link}}', link_html %}
						{% assign link_index = link_index | plus: 1 %}
					{% endfor %}
					{{ description }}
				</div>
			{% endfor %}
		</div>

		<!-- Show More button -->
		<div class="row">
			<button id="show-more-button" class="show-more-btn" onclick="toggleNews()">
				<span id="more-less-text">More</span> <!-- Initial "More" text -->
			</button>
		</div>
	</div>
</div>
<script>
	function toggleNews() {
		var hiddenNews = document.querySelector('.hidden-news');
		var buttonText = document.getElementById('more-less-text');

		if (hiddenNews.style.maxHeight === "0px" || hiddenNews.style.maxHeight === "") {
			hiddenNews.style.maxHeight = hiddenNews.scrollHeight + "px"; 
			buttonText.textContent = "Less"; 

		} else {
			hiddenNews.style.maxHeight = "0px"; 
			buttonText.textContent = "More"; 
		}
	}
</script>

<style>
	.show-more-btn {
		background-color: transparent;
		border: none;
		padding: 0px 0px;
		cursor: pointer;
		font-size: 16px;
	}

	.hidden-news {
		overflow: hidden;
		max-height: 0; 
		transition: max-height 0.5s ease-out; 
	}



  @media (max-width: 768px) {
    #image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #centered-image {
      height: 200px; /* You can remove this if you want to control it only via CSS */
    }
  }

</style>
