---
layout: default
---

<body class="shop home-page">
  <!-- Content -->
  <div class="section-block left-on-mobile de4mers-nav right" id="director" style="margin-top:3em;">
    <div class="row no-padding">
      <div class="column width-4 left">
        <h1 class="mb-mobile-10">People</h1>
      </div>
      <div class="column width-8">
        <ul>
          <li><a href="#members">Members</a></li>
          <li><a href="#collaborators">Collaborators</a></li>
          <li><a href="#alumni">Previous Members</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-block grid-container fade-in-progressively small-margins no-padding-top"
    data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions
    data-animate-resize data-animate-resize-duration="0" data-as-bkg-image>
    <div class="row">

      <div class="column width-2">
        <a href="{{ site.data.people.patricia.website }}" target="_blank">
          <img src="{{ site.data.people.patricia.profile_img }}"
            alt="{{ site.data.people.patricia.name }}'s profile picture" loading="lazy" />
        </a>
      </div>
      <div class="column width-4">
        <h1 class="project-description"
          style="text-transform: capitalize; font-size: 2rem;">{{
          site.data.people.patricia.name }}</h1>
        <p class="project-description" style="color:black;margin-top: -1.5em;line-height: 12pt;">
          {{ site.data.people.patricia.title }}<br />
          {{ site.data.people.patricia.role }}<br /><br />
          {{ site.data.people.patricia.department }}<br />
          {{ site.data.people.patricia.university }}<br />
          {{ site.data.people.patricia.address }}<br /><br />
          <a href="mailto:{{ site.data.people.patricia.email }}" target="_blank"
            style="color:#333;border-bottom: none;">
            <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;{{ site.data.people.patricia.email }}</a><br />
          <a href="{{ site.data.people.patricia.website }}" target="_blank" style="color:#333;border-bottom: none;">
            <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;{{ site.data.people.patricia.website }}</a><br />
          <a href="{{ site.data.people.patricia.google_scholar }}" target="_blank"
            style="color:#333;border-bottom: none;">
            <i class="fas fa-graduation-cap fa-1x"></i>&nbsp;&nbsp;&nbsp;Google Scholar</a><br />
          <a href="{{ site.data.people.patricia.twitter }}" target="_blank" style="color:#333;border-bottom: none;">
            <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Twitter</a><br />
        </p>
      </div>
    </div>
    <!-- Members Section -->
    <div class="row" id="members">
      <div class="column width-12"
        style="margin-top: 0.5em; margin-bottom: 0.5em; text-transform: capitalize; font-size: 2.7rem;">
        <h2>Members</h2>
    </div>
      {% for student in site.data.people.members %}
      <div class="column width-2" style="margin-bottom: 0.7em;">
        <a href="{{ student.link }}" target="_blank">
          <img src="{{ student.img }}" alt="{{ student.name }}'s profile picture" loading="lazy" />
          <h4 class="project-description"
            style="text-transform: capitalize; font-size: 1.5rem; margin-top: 0.5em;">{{
            student.name }}</h4>
          <p class="project-description" style="margin-top: -1.5em;color:black; line-height: 12pt;">{{ student.role }}
            <br />{{student.standing}}, {{ student.university }}<br />{{ student.area }} <br /> Started: {{
            student.start_year }}
          </p>
        </a>
      </div>
      {% endfor %}
    </div>
    <!-- Collaborators Section -->
    <div class="row" id="collaborators">
      <div class="column width-12"
        style="margin-top: 0.5em; margin-bottom: 0.5em; text-transform: capitalize; font-size: 2.7rem;">
        <h2>Collaborators</h2>
      </div>
      {% for collaborator in site.data.people.collab %}
      <div class="column width-2" style="margin-bottom: 1.7em;">
        <a href="{{ collaborator.link }}" target="_blank">
          <img src="{{ collaborator.img }}" alt="{{ collaborator.name }}'s profile picture" loading="lazy" />
        </a>
        <h4 class="project-description"
          style="text-transform: capitalize; font-size: 1.5rem; margin-top: 0.5em;">{{
          collaborator.name }}
        </h4>
        <p class="project-description" style="margin-top: -1.5em;color:black; line-height: 12pt;">{{ collaborator.role
          }} <br />{{ collaborator.department }}, {{ collaborator.university }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="row" id="alumni">
      <!-- Previous Members Section -->
      <div class="column width-12"
        style="margin-top: 0.5em; margin-bottom: 0.5em; text-transform: capitalize; font-size: 2.7rem;">
      <h2> Previous Members</h2></div>
      {% for alumni in site.data.people.previous_members %}
      <div class="column width-6" style="margin-bottom: 0.3em;">
        <p class="project-description" style="margin-top: -1em;color:black; line-height: 12pt;"><strong>{{ alumni.name
            }}</strong> - {{ alumni.year }} ({{ alumni.role }})
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</body>