---
layout: default
---

<div class="section-block left-on-mobile de4mers-nav right" id="director" style="padding: 0px;">
	<div class="row no-padding">
		<div class="column width-4 left">
			<h1 class="mb-mobile-10" style="font-size:3em;">Projects</h1>
		</div>
		<div class="column width-8" id="header-container">
			<ul id="headers">
				<li><a href="#active">Active</a></li>
				<li><a href="#completed">Completed</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="column width-12">
			<p style="font-size:15.5px; text-align: left;">{{ site.data.projects.intro }}</p>
		</div>
	</div>
</div>
{% assign project_sections = site.data.projects %}
{% for section in project_sections %}
{% if section[0] == "intro" %}
{% continue %} <!-- Skip this iteration if it's the intro -->
{% endif %}

{% assign section_title = section[0] %}
{% assign projects = section[1] %}
<div class="row">
	<div class="column width-12">
		<h2 class="mb-10" style="font-size:2.5em;" id="{{ section_title }}">{{ section_title | replace: '_', ' '
			|
			capitalize }}</h2>
	</div>
</div>
<div class="row">
	<div class="column width-12">
		<div class="row" id="projects">
			{% for project in projects %}
			<div class="row mt-20 aproject" id="project{{ project.id }}" class="project-container">
				<div class="column width-4" onmouseover="PlayVideo({{ project.id }})"
					style="margin-top:15px; margin-bottom:10px;" onmouseleave="StopVideoPlay({{ project.id }})">
					<video loop muted playsinline id="video{{ project.id }}" poster="projects/{{ project.poster }}">
						<source type="video/webm" src="projects/{{ project.video_webm }}">
						<source type="video/mp4" src="projects/{{ project.video_mp4 }}">
					</video>
				</div>
				<div class="project-description column width-8" style="padding:10px;">
					<h5 style="margin:0px; margin-bottom:5px; font-size:16px;">{{ project.name }}</h5>
					{% if project.area %}
					{{ project.area }}<br>
					{% endif %}
					<span style="font-size:15px;">{{ project.members }}</span><br>
					<div class="project-links-container" style="margin-top:-4px;">
						<ul style="list-style: none; padding: 0;">
							<li style="display: inline; margin-right: 10px;">{{ project.data }}</li>
							{% assign links = project.links %}

							{% if links.site %}
							{% if links.site.size == 1 %}
							{% for link in links.site %}
							Website:
							<li style="display: inline; margin-right: 10px;">
								<a href="{{ link }}" target="_blank" title="Website">
									</span><i class="fas fa-globe"></i>
								</a>
							</li>
							{% endfor %}
							{% elsif links.site.size > 1 %}
							Websites:
							{% for link in links.site %}
							<li style="display: inline; margin-right: 10px;">

								<a href="{{ link }}" target="_blank" title="Website">
									<i class="fas fa-globe"></i>
								</a>
							</li>
							{% endfor %}
							{% endif %}
							{% endif %}


							{% if links.doi %}
							{% if links.doi.size == 1 %}
							{% for link in links.doi %}
							DOI:
							<li style="display: inline; margin-right: 10px;">
								<a href="{{ link }}" target="_blank" title="DOI">
									<i class="fas fa-external-link-alt"></i>
								</a>
							</li>
							{% endfor %}
							{% elsif links.doi.size > 1 %}
							DOIs:
							{% for link in links.doi %}
							<li style="display: inline; margin-right: 10px;">

								<a href="{{ link }}" target="_blank" title="DOI">
									<i class="fas fa-external-link-alt"></i>
								</a>
							</li>
							{% endfor %}
							{% endif %}
							{% endif %}

							{% if links.yt %}
							{% if links.yt.size == 1 %}
							{% for link in links.yt %}
							Video:
							<li style="display: inline; margin-right: 10px;">
								<a href="{{ link }}" target="_blank" title="YouTube">
									<i class="fa-solid fa-play"></i>
								</a>
							</li>
							{% endfor %}
							{% elsif links.yt.size > 1 %}
							Videos:
							{% for link in links.yt %}
							<span>{{ forloop.index }} </span>
							<li style="display: inline; margin-right: 10px;">

								<a href="{{ link }}" target="_blank" title="YouTube">
									<i class="fa-solid fa-play"></i>
								</a>
							</li>
							{% endfor %}
							{% endif %}
							{% endif %}

							{% if links.code %}
							{% if links.code.size == 1 %}
							{% for link in links.code %}
							Code:
							<li style="display: inline; margin-right: 10px;">
								<a href="{{ link }}" target="_blank" title="Code">
									<i class="fas fa-code"></i>
								</a>
							</li>
							{% endfor %}
							{% elsif links.code.size > 1 %}
							Code:
							{% for link in links.code %}

							<li style="display: inline; margin-right: 10px;">
								<span>{{ forloop.index }} </span>
								<a href="{{ link }}" target="_blank" title="Code">
									<i class="fas fa-code"></i>
								</a>
							</li>
							{% endfor %}
							{% endif %}
							{% endif %}


						</ul>
					</div>
					{% if project.description %}
					<p class="authors_abstract" style="font-size: 14px;">{{ project.description }}</p>
					{% endif %}
					{% if project.awards.size > 0 %}
					<span style="color: #d13131; font-size: 1.1rem;">
						{% for award in project.awards %}
						<i class="fas fa-trophy"></i>
						<strong>&nbsp;&nbsp;{{ award.title }}</strong>
						{% if forloop.last == false %} | {% endif %}
						{% endfor %}
					</span>
					{% endif %}
					{% if project.honorable_mentions.size > 0 %}
					{% for mention in project.honorable_mentions %}
					<span style="color: #d13131; font-size: 1.1rem;">
						<i class="fas fa-award"></i>
						<strong>&nbsp;&nbsp;{{ mention.title }}</strong>
					</span>
					{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}

<script type="text/javascript">
	function PlayVideo(num) {
		var name = "video" + num;
		var proj_name = "project" + num;
		var v = document.getElementById(name);
		var div = document.getElementById(proj_name);
		div.style.backgroundColor = "#efefef";
		div.style.transition = "background-color 0.7s";
		v.autoplay = true;
		v.load();
	}
	function StopVideoPlay(num) {
		var name = "video" + num;
		var proj_name = "project" + num;
		var v = document.getElementById(name);
		var div = document.getElementById(proj_name);
		div.style.backgroundColor = "#fff";
		div.style.transition = "background-color 0.7s";
		v.autoplay = false;
		v.load();
	}
	function PlayVideo_unpublished(num) {
		var name = "video" + num;
		var proj_name = "project" + num;
		var v = document.getElementById(name);
		var div = document.getElementById(proj_name);
		div.style.backgroundColor = "#efefef";
		div.style.transition = "background-color 0.7s";
		var str = v.poster;
		var dot_idx = str.lastIndexOf(".");
		str = str.substring(0, dot_idx);
		str = str + ".png";
		v.poster = str;
	}
	function StopVideoPlay_unpublished(num) {
		var name = "video" + num;
		var proj_name = "project" + num;
		var v = document.getElementById(name);
		var div = document.getElementById(proj_name);
		div.style.backgroundColor = "#fff";
		div.style.transition = "background-color 0.7s";
		var str = v.poster;
		var dot_idx = str.lastIndexOf(".");
		str = str.substring(0, dot_idx);
		str = str + ".jpg";
		v.poster = str;
	}
</script>

<style>
	@media (max-width: 767px) {
		#projects {
			margin-left: 2.5px;
		}

		#headers {
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
		}

		#header-container {
			padding: 0px;
		}
	}

	#completed {
		margin-top: 30px;
	}
</style>