---
layout: default
---
<!-- Content -->
<div class="content clearfix">
  <!-- Feature Column Section -->
  <div class="section-block replicable-content">
    <div class="row">
      <div class="column width-12">
        <h3 class="mb-10">Publications</h3>
        <p>We publish our research outcomes at conferences and journals such as CHI, UIST, ASSETS, TEI, IMWUT.</p>
      </div>
    </div>
    {% assign publications = site.data.publications %}
    {% for year in publications %}
    <div class="row">
      <div class="column width-12">
        <div class="column width-1">
          <h4>{{ year[0] }}</h4>
        </div>
        <div class="column width-11">
          {% for paper in year[1] %}
          <div class="column width-11 offset-1 mt-10">
            <div class="column width-2">
              <img class="regular-publication" src="{{ paper.img }}" alt="The first page of the paper" />
            </div>
            <div class="column width-10 publication-details">
              <p class="authors">{{ paper.authors }}. {{ year[0] }}. {{ paper.title }}. In <i>{{ paper.event }}</i>. Association for Computing Machinery. <a href="{{ paper.doi }}">DOI</a></p>
              <ul>
                <li class="publication-link"><a href="{{ paper.pdf }}" target="_blank" class="link-color"><i class="far fa-file-pdf"></i>&nbsp;PDF</a></li>
                <li class="publication-link"><a href="{{ paper.doi }}" target="_blank" class="link-color"><i class="fas fa-external-link-alt"></i>DOI</a></li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Content End -->