---
layout: default
---
<!-- Content -->
{% assign publications = site.data.publications.publications %}

<div class="row">
  <div class="column width-12">
    <h1 style="font-size: 3em;">Publications</h1>
    <p style="font-size:15.5px;"> {{ site.data.publications.intro }} </p>
  </div>
</div>
{% for year in publications reversed %}
<div class="row">
  <div class="column width-12">
    <div class="column width-1" style="padding-left:0px;">
      <h2 style="font-size:3em;">{{ year[0] }}</h2>
    </div>
    <div class="column width-11" style="padding:0px;">
      {% for paper in year[1] reversed %}
      <div class="column width-12 paper-stuff" style="margin-bottom: 10px;">
        <div class="column width-2 more-paper-stuff">
          {% if paper.img %}
          <img class="regular-publication" src="publications/thumbnails/{{paper.img}}" alt="The first page of the paper"
            loading="lazy" />
          {% else %}
          <span style=" width: 100%;">&nbsp;</span>
          {% endif %}
        </div>
        <div class="column width-10 publication-details">
          {% if paper.title %}
          <h3 style="font-size: 16px;" class="title">{{ paper.title }}</h3>
          {% endif %}
          {% if paper.authors %}
          <p class="authors" style="margin-bottom:0px; font-size:15px;">
            {{ paper.authors }}
            {% if paper.event %}
            <br><span style="font-size:14px;">{{ paper.event }}</span>
            {% endif %}
          </p>
          {% endif %}
          <ul style="margin:0px;">
            {% if paper.project %}
            <li class="publication-link">
              Project: {{ paper.project }}
            </li>
            {% endif %}
            {% if paper.pdf %}
            <li class="publication-link">
              <a href="publications/{{ paper.pdf }}" target="_blank" class="link-color">
                <i class="fa-regular fa-file"></i> PDF
              </a>
            </li>
            {% endif %}
            {% if paper.doi %}
            <li class="publication-link">
              <a href="{{ paper.doi }}" target="_blank" class="link-color">
                <i class="fas fa-external-link-alt"></i> DOI
              </a>
            </li>
            {% endif %}
            {% if paper.video %}
            <li class="publication-link">
              <a href="{{ paper.video }}" target="_blank" class="link-color">
                <i class="fa-solid fa-play"></i> Video
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}


<style>
  @media (max-width: 768px) {
    .paper-stuff {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
    }

    .more-paper-stuff,
    .publication-details {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
    }

    .publication-details {
      margin-top: 10px;
    }
  }
</style>