---
layout: default
---

<div class="row">
  <div class="column width-12" style="margin-bottom:20px; padding-left:8px;">
    <h1 style="margin-bottom:0px;font-size:3em;">Resources</h1>
  </div>
</div>
{% for item in site.data.resources %}
{% assign has_pdf = false %}
{% assign has_link = false %}
{% if item.pdf %}{% assign has_pdf = true %}{% endif %}
{% if item.link %}{% assign has_link = true %}{% endif %}
{% assign has_both = false %}
{% if has_pdf and has_link %}{% assign has_both = true %}{% endif %}

{% if has_both %}
<div class="row news-item">
  <div class="column width-12" style="margin-bottom:0px; padding:10px 0px;">
    <div class="column width-12 text" style="padding:10px;">
      <h5 style="font-size:16px; margin-bottom: 4px;">{{ item.title }}</h5>
      {% if item.description and item.description != "" %}
      <p style="margin-bottom: 4px;">{{ item.description }}</p>
      {% endif %}
      <ul style="margin:0px;">
        <li class="publication-link">
          <a href="/resources/{{ item.pdf }}" target="_blank" class="link-color">
            <i class="fa-regular fa-file"></i> PDF
          </a>
        </li>
        <li class="publication-link">
          <a href="{{ item.link }}" target="_blank" class="link-color">
            <i class="fas fa-external-link-alt"></i> Link
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% else %}
{% assign item_href = item.link | default: '/resources/' | append: item.pdf %}
<a href="{{ item_href }}" target="_blank">
  <div class="row news-item">
    <div class="column width-12" style="margin-bottom:0px; padding:10px 0px;">
      <div class="column width-12 text" style="padding:10px;">
        <h5 style="font-size:16px; margin-bottom: 4px;">{{ item.title }}</h5>
        {% if item.description and item.description != "" %}
        <p style="margin-bottom: 4px;">{{ item.description }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</a>
{% endif %}
{% endfor %}
