<!-- Footer -->
<footer class="footer">
  <div class="footer-bottom">
    <div class="row">
      <div class="column width-12">
        <ul class="social-list list-horizontal">
          {% for link in site.data.social_links %}
          <li>
            <a href="{{ link.url }}" target="_blank">
              <i class="{{ link.icon }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        <p class="copyright">&copy; Design & Engineering for Making (DE4M) Lab. 2022. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

</html>