<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Robot Studio Lab" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="branding/Logos/logos/pngs/24-ROBOTSTUDIO-LOGO-Black.png" />
	<meta property="og:description" content="The website of Design & Engineering for Making Lab." />
	<title>Robot Studio Lab | UMich</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
		integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet'
		type='text/css'>
	<!-- Css -->
	<link rel="stylesheet" href="assets/css/core.css" />
	<link rel="stylesheet" href="assets/css/sartre-skin-architecture.css" />
	<link rel="stylesheet" href="assets/css/custom.css" />
	
</head>