<script type="text/javascript">
  function PlayVideo(num) {
    var name = "video" + num;
    var proj_name = "project" + num;
    var v = document.getElementById(name);
    var div = document.getElementById(proj_name);
    div.style.backgroundColor = "#efefef";
    div.style.transition = "background-color 0.7s";
    v.autoplay = true;
    v.load();
  }
  function StopVideoPlay(num) {
    var name = "video" + num;
    var proj_name = "project" + num;
    var v = document.getElementById(name);
    var div = document.getElementById(proj_name);
    div.style.backgroundColor = "#fff";
    div.style.transition = "background-color 0.7s";
    v.autoplay = false;
    v.load();
  }
  function PlayVideo_unpublished(num) {
    var name = "video" + num;
    var proj_name = "project" + num;
    var v = document.getElementById(name);
    var div = document.getElementById(proj_name);
    div.style.backgroundColor = "#efefef";
    div.style.transition = "background-color 0.7s";
    var str = v.poster;
    var dot_idx = str.lastIndexOf(".");
    str = str.substring(0, dot_idx);
    str = str + ".png";
    v.poster = str;
  }
  function StopVideoPlay_unpublished(num) {
    var name = "video" + num;
    var proj_name = "project" + num;
    var v = document.getElementById(name);
    var div = document.getElementById(proj_name);
    div.style.backgroundColor = "#fff";
    div.style.transition = "background-color 0.7s";
    var str = v.poster;
    var dot_idx = str.lastIndexOf(".");
    str = str.substring(0, dot_idx);
    str = str + ".jpg";
    v.poster = str;
  }
</script>