{% assign d = site.data[page.course] %}
{% assign course = d.course %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="twitter:widgets:theme" content="light">
  <meta name="description" content="{{ d.head.description }}">
  <meta property="og:title" content="{{ d.head.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:image" content="{{ d.head.image | absolute_url }}" />
  <meta property="og:description" content="{{ d.head.description }}" />
  <title>{{ d.head.title }}</title>
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ d.head.icon }}">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Lato:300,400,700" rel="stylesheet"
    type="text/css">

  <!-- Css -->
  <link rel="stylesheet" href="css/core.min.css" />
  <link rel="stylesheet" href="css/skin.css" />
  <link rel="stylesheet" href="css/custom.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>


<body class="shop">
  <div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">
      <!-- Content -->
      <div class="content clearfix">
        <!-- bio section-->
        <section class="section-block feature-3">
          <div class="feature-content">
            <div class="feature-content-inner left pt-30">
              <div class="row">
                <div id="divdiv" class="column width-7 divdiv-container">
                  <div class="profile-section">
                    <img class="profile-image large rounded" src="img/class-logo.png" alt="Course image"
                      id="profileimage">
                    <ul class="social-links">
                      {% for link in d.social-links %}
                      <li>
                        <a href="{{ link }}" target="_blank">
                          {% if link contains "robotdesign.studio" %}
                          <img class="profile-image large rounded social-icon-img" src="lab.png">
                          {% elsif link contains "mailto" %}
                          <i class="fas fa-envelope"></i>
                          {% elsif link contains "linkedin" %}
                          <i class="fab fa-linkedin"></i>
                          {% elsif link contains "x.com" %}
                          <i class="fab fa-twitter"></i>

                          {% elsif link contains "github" %}
                          <i class="fab fa-github"></i>
                          {% endif %}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>



                  <div class="course-details">
                    <h5 class="course-title">
                      <strong>{{ course.title }}</strong>
                    </h5>
                    <h5 class="course-instructors">
                      {% assign instructors = course.instructors %}
                      {% if instructors.size > 1 %}
                      <strong>Instructors:</strong>
                      {% for instructor in instructors %}
                      <a href="{{ instructor.url }}" target="_blank" class="no-underline">{{ instructor.name }}</a>{% if
                      forloop.last == false %}, {% endif %}
                      {% endfor %}
                      {% else %}
                      <strong>Instructor: <a href="{{ instructors[0].url }}" target="_blank" class="no-underline">{{
                          instructors[0].name }}</a></strong>
                      {% endif %}

                      {% assign gsis = course.GSIs %}
                      {% if gsis.size > 1 %}
                      <br>
                      <strong>GSIs:</strong>
                      {% for gsi in gsis %}
                      <a href="{{ gsi.url }}" target="_blank" class="no-underline">{{ gsi.name }}</a>{% if forloop.last
                      == false %}, {% endif %}
                      {% endfor %}
                      {% else %}
                      <br>
                      <strong>GSI:</strong> <a href="{{ gsis[0].url }}" target="_blank" class="no-underline">{{
                        gsis[0].name }}</a>
                      {% endif %}

                      {% assign ias = course.IAs %}
                      <br>
                      {% if ias.size > 1 %}
                      <strong>IAs:</strong>
                      {% for ia in ias %}
                      <a href="{{ ia.url }}" target="_blank" class="no-underline">{{ ia.name }}</a>{% if forloop.last ==
                      false %}, {% endif %}
                      {% endfor %}
                      {% else %}
                      <strong>IA:</strong> <a href="{{ ias[0].url }}" target="_blank" class="no-underline">{{
                        ias[0].name }}</a>
                      {% endif %}

                      <p class="course-credit">This course was designed and developed by <a
                          href="https://patricialvesoliveira.com/" target="_blank">Patricia Alves-Oliveira</a>.</p>
                      {{ course.department }}<br />{{ course.university }}<br />
                      Office: {{ course.office }}
                    </h5>
                  </div>
                </div>


                <div class="column width-4 text-left">
                  <div class="info-box">

                    <p class="info-box-text">
                      {{ course.yellow_box.top-text }}
                    </p>

                    {% for section in course.yellow_box.sections %}
                    <p class="info-box-title"><strong>{{ section.title }}</strong></p>
                    <p class="info-box-details">
                      <span><i class="fa-solid fa-calendar-days"></i> {{ section.date }}</span>
                      <span><i class="fa-solid fa-clock"></i> {{ section.time }}</span>
                      <span><i class="fa-solid fa-building"></i> {{ section.location }}</span>
                    </p>
                    {% endfor %}

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="column width-2">
                  <div class="thumbnail mb-0">

                    <div class="section-header">
                      <h5>
                        <strong>SCHEDULE</strong>
                      </h5>
                    </div>

                    <!-- Loop through all sections -->
                    {% for section in d.schedule %}
                    {% if section.title and section.sessions %}
                    <div>
                      <h6 class="schedule-section-title">
                        <strong>{{ section.title }}</strong>
                      </h6>
                      {% for session in section.sessions %}
                      <div class="schedule-session">
                        <p>{{ session.date }}:</p>
                        <p>{{ session.class }}</p>
                      </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                    {% endfor %}

                    <div class="grading-header">
                      <h5>
                        <strong>GRADING</strong>
                      </h5>
                    </div>

                    {% for section in d.grading %}
                    <div class="grading-item">
                      <p>{{ section.title }}</p>
                    </div>

                    {% for paragraph in section.text %}
                    <div class="grading-item">
                      <p>{{ paragraph }}</p>
                    </div>
                    {% endfor %}

                    {% unless forloop.last %}
                    <div class="grading-divider">
                      <p></p>
                    </div>
                    {% endunless %}
                    {% endfor %}

                  </div>

                  <div class="thumbnail mb-0">
                    <div class="students-header">
                      <h5>
                        <strong>STUDENTS</strong>
                      </h5>
                    </div>
                    {% if d.students.undergraduates %}
                    <div class="student-list">
                      <p><strong>Undergraduates</strong><br />
                        {% for student in d.students.undergraduates %}
                        {{ student }}<br />
                        {% endfor %}
                      </p>
                    </div>
                    {% endif %}
                    {% if d.students.graduates %}
                    <div class="student-list student-list-spacing">
                      <p><strong>Graduates</strong><br />
                        {% for student in d.students.graduates %}
                        {{ student }}<br />
                        {% endfor %}
                      </p>
                    </div>
                    {% endif %}
                    <div class="talk-header">
                      <h5>
                        <strong>INVITED TALKS</strong>
                      </h5>
                    </div>

                    {% for talk in d.talks %}
                    <div class="talk">
                      <!-- Image -->
                      <p>
                        <img src="{{ talk.image }}" />
                      </p>

                      <!-- Talk Information -->
                      <p>
                        <strong><a href="{{ talk.link }}">{{ talk.name }}</a></strong><br />
                        {{ talk.title }}<br />
                        {{ talk.institution }}
                      </p>
                    </div>
                    {% endfor %}

                    <div class="talk-header">
                      <h5>
                        <strong>GROUP PROJECTS</strong>
                      </h5>
                    </div>

                    {% for project in d.group_projects %}
                    <div class="project">
                      <p><img src="{{ project.image }}" /></p>
                      <p>
                        <strong><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></strong>
                      </p>
                    </div>
                    {% endfor %}

                  </div>
                </div>
                <div class="column width-9">
                  <div class="row text-justify">


                    <div class="column width-12 main-content">

                      {% for section in d.main %}
                      {% if section.name %}

                      <h5 class="main-section-title">
                        <strong>{{ section.name }}:</strong>
                      </h5>

                      <div>
                        {{ section.content | markdownify | remove: '<p>' | remove: '</p>' }}
                      </div>

                      {% endif %}

                      {% if section.image == true %}
                      <img class="main-section-image" src="{{ section.image_url }}" />
                      {% endif %}

                      {% endfor %}

                      {% if d.labs %}
                      <div class="lab-container">

                        <div class="mt-30 section-divider">
                          <h4 class="section-blue-header">
                            <strong>Labs</strong>
                          </h4>
                        </div>
                        <div class="lab-grid">

                          {% for lab in d.labs %}
                          <div class="lab-item">
                            <div class="lab-info">
                              <img class="lab-image" src="{{ base_path }}{{ lab.image_url }}"
                                alt="Lab {{ forloop.index }}" />
                              {% if lab.link %} <a class="lab-link" href="{{ lab.link }}" target="_blank"> {% endif %}
                                <strong>Lab {{ forloop.index }}:</strong> {{ lab.title }}{% if lab.link %} </a> {% endif
                              %}
                              <p class="lab-description">{{ lab.description }}</p>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      {% endif %}
                      <div class="mt-30 section-divider">
                        <h4 class="section-blue-header">
                          <strong>Class Lecture Summary</strong>
                        </h4>
                      </div>
                    </div>

                  </div>
                  {% for lecture in d.lectures %}
                  <div class="row lecture-row" id="project{{ forloop.index }}" onmouseover="PlayVideo({{ forloop.index }})" onmouseleave="StopVideoPlay({{ forloop.index }})">
                    <div class="column width-5 lecture-video-container">
                      <video loop muted preload="auto" playsinline id="video{{ forloop.index }}" class="lecture-video"
                        poster="{{ lecture.video_poster }}">
                        <source type="video/mp4" src="{{ lecture.video_src }}">
                      </video>
                    </div>
                    <div class="column width-7 lecture-content" id="magdisplay">
                      <h5 class="lecture-title">CLASS {{ forloop.index }}
                        <span class="lecture-title-separator">|</span>
                        <span class="lecture-title-text">{{ lecture.title }}</span>
                        <span class="lecture-title-separator">|</span> <a href="{{ lecture.slides_link }}"
                          target="_blank" class="lecture-slides-link">&nbsp;SLIDES</a>
                      </h5>
                      <div class="lecture-authors">{{ lecture.description }}</div>
                      <div>
                      </div>
                      {% if lecture.readings %}
                      {% if lecture.readings[0].title %}
                      <div class="lecture-readings-box">
                        <h5><strong>Readings:</strong></h5>
                        <ul>
                          {% for reading in lecture.readings %}
                          <li>
                            <a href="{{ reading.link }}" target="_blank">
                              {{ reading.title }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>


            </div>
          </div>
      </div>
      </section>
    </div>
  </div>
  </div>
  <!-- </section>
			</div> -->
  <!-- Content End -->
  <!-- Footer -->
  <footer class="footer footer-custom">
    <div class="footer-bottom">
      <div class="row">
        <div class="column width-12">
          <div class="footer-bottom-inner center">
            <p class="copyright pull-left clear-float-on-mobile footer-text">
              &copy; Website design adapted from <a href="https://www.lianghe.me/" class="footer-link">Liang He</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="js/timber.master.min.js"></script>
  <script>


    function PlayVideo(num) {
      var name = "video" + num;
      var proj_name = "project" + num;
      var v = document.getElementById(name);
      var div = document.getElementById(proj_name);
      div.style.backgroundColor = "#efefef";
      div.style.transition = "background-color 0.7s";
      // Only start playing if it's paused or ended — don't reload the video (no load/autoplay)
      if (v && (v.paused || v.ended)) {
        v.play().catch(function (e) {
          // Ignore play errors (autoplay/security restrictions)
        });
      }
    }
    function StopVideoPlay(num) {
      var name = "video" + num;
      var proj_name = "project" + num;
      var v = document.getElementById(name);
      var div = document.getElementById(proj_name);
      div.style.backgroundColor = "#fff";
      div.style.transition = "background-color 0.7s";
      // Pause the video but do not reset playback position to avoid restarting on re-hover
      if (v && !v.paused) {
        v.pause();
      }
    }
    function PlayVideo_unpublished(num) {
      var name = "video" + num;
      var proj_name = "project" + num;
      var v = document.getElementById(name);
      var div = document.getElementById(proj_name);
      div.style.backgroundColor = "#efefef";
      div.style.transition = "background-color 0.7s";
      var str = v.poster;
      var dot_idx = str.lastIndexOf(".");
      str = str.substring(0, dot_idx);
      str = str + ".png";
      v.poster = str;
    }
    function StopVideoPlay_unpublished(num) {
      var name = "video" + num;
      var proj_name = "project" + num;
      var v = document.getElementById(name);
      var div = document.getElementById(proj_name);
      div.style.backgroundColor = "#fff";
      div.style.transition = "background-color 0.7s";
      var str = v.poster;
      var dot_idx = str.lastIndexOf(".");
      str = str.substring(0, dot_idx);
      str = str + ".jpg";
      v.poster = str;
    }

  </script>

</body>

</html>